// Mixins in here
.btn (@button-color, @alignment,){
    height: 30px;
    width: 80%;
    border-radius: 5px;
    color: @white;
    display: flex;
    background-color: @button-bg;
    justify-content: @alginment;
    align-items: @alignment;
}