// Navigation Styles here
header {
    display: block;
    
    height: 100px; 
    border-bottom: 2px dashed black;   
    .head-size{
        width: 800px;
        display: flex;
        
        border: 2px solid red;
        h1 {
            justify-content: flex-start;
        }
        nav {
            display: flex;
            justify-content: flex-end;
            
            a {
                font-size: 1.8rem;
            }
        }
    }
    
}